numpy==1.26.2
websocket-client==1.2.1
# This recent version of xled is needed to support connections
# to multiple devices from the same machine
git+https://github.com/scrool/xled@91da7b1f#egg=xled
jurigged==0.4.1
tetris==1.0.0a0
river==0.14.0
# Pin version that has a piwheel.org wheel
scipy==1.11.4
